# Expo / App
EXPO_PUBLIC_DIRECTUS_URL=http://localhost:8055
EXPO_PUBLIC_SOCKET_URL=http://localhost:4001
EXPO_PUBLIC_GOOGLE_MAPS_KEY=tu_google_maps_api_key_aqui

# Backend (Docker Compose)
DB_DATABASE=lookify
DB_USER=lookify
DB_PASSWORD=lookify_pwd
DB_HOST=localhost
DB_PORT=5432

DIRECTUS_KEY=cambiar-key-32chars-minimo
DIRECTUS_SECRET=cambiar-secret-32chars-minimo
ADMIN_EMAIL=admin@lookify.app
ADMIN_PASSWORD=Lookify123!
PUBLIC_URL=http://localhost:8055